@namespace PaylKoyn.Web.Components.Common
@using PaylKoyn.Web.Services

<header class="!py-5 w-full !z-400">
    <div class="container mx-auto flex justify-between items-center w-full">
        <MudLink 
            Href="/"
            class="w-72">
            <MudImage Src="/images/payl_logo.svg" Alt="payl logo"/>
        </MudLink>
        <div>
            @if(@CurrentUrl == "/")
            {
                <MudButton 
                    Href="/upload"
                    Class="!text-xl !text-[var(--mud-palette-primary)] !w-47 !h-12 !rounded-full !uppercase !p-[2px] !animate-rotate-border button-color-gradient"
                >
                    <div class="!bg-[var(--mud-palette-secondary)] !w-full !h-11 flex items-center justify-center !text-center rounded-full transition-all duration-150 hover:!bg-[var(--mud-palette-secondary-lighten)] active:!bg-[var(--mud-palette-secondary-darken)]">
                        <MudText>
                            <span class="!font-semibold">Launch</span>
                            <span class="!font-bold">$PAYL</span>
                        </MudText>
                    </div>
                </MudButton>
            }
            else
            {
                <MudButton
                    OnClick="OnWalletConnectClicked" 
                    Class="!text-xl !text-[var(--mud-palette-primary)] !w-47 !h-12 !rounded-full !uppercase !p-[2px] !animate-rotate-border button-color-gradient"
                >
                    <div class="!bg-[var(--mud-palette-secondary)] !w-full !h-11 flex items-center justify-center !text-center rounded-full transition-all duration-150 hover:!bg-[var(--mud-palette-secondary-lighten)] active:!bg-[var(--mud-palette-secondary-darken)]">
                        <MudText>
                            <span class="!font-semibold">Connect Wallet</span>
                        </MudText>
                    </div>
                </MudButton>
            }
        </div>
        <div>
            @foreach(CardanoWallet wallet in ConnectedWallets) {
                <div>
                    Name: @wallet.Name<br />
                    Address: @wallet.Id<br />
                    Icon: <MudImage Src="@wallet.Icon" Alt="@wallet.Name" Class="!w-8 !h-8 !rounded-full" />
                    <MudButton OnClick="() => OnSpecificWalletConnectClicked(wallet.Id)">Connect</MudButton>
                </div>
            }
        </div>
    </div>
</header>
