@namespace PaylKoyn.Web.Components.Common

<header class="!py-5 w-full !z-400">
    <div class="container mx-auto flex justify-between items-center w-full">
        <MudLink 
            Href="/"
            class="w-72">
            <MudImage Src="/images/payl_logo.svg" Alt="payl logo"/>
        </MudLink>
        <div>
            <MudButton 
                Href="/upload"
                Class="!text-xl !text-white !w-47 !h-12 button-color-gradient !rounded-full !uppercase !p-[2px]"
            >
                <div class="!bg-[#7263FA] !w-full !h-11 flex items-center justify-center !text-center rounded-full">
                    <MudText>
                        <span class="!font-semibold">Launch</span>
                        <span class="!font-bold">$PAYL</span>
                    </MudText>
                </div>
            </MudButton>
        </div>
    </div>
</header>