@page "/buy"

@namespace PaylKoyn.Web.Components.Pages.Buy

<PageTitle>Buy • PaylKoyn</PageTitle>

<HeadContent>
    <meta name="description"
        content="PaylKoyn " />
    <meta property="og:title" content="Official Website • PaylKoyn" />
    <meta property="og:type" content="website" />
    <meta property="og:image:alt" content="PaylKoyn website image" />
    <meta property="og:url" content="@OgUrl" />
    <meta property="og:image" content="@OgImageUrl" />
    <meta property="og:description"
        content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore" />
    <meta name="keywords"
        content="PaylKoyn, file system, nft, meme coin, cardano, file, ipfs" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="@OgUrl" />
    <meta name="twitter:description"
        content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore" />
    <meta name="twitter:site" content="@@paylkoyn" />
    <meta name="twitter:creator" content="@@saib_inc" />
</HeadContent>

<section class="relative h-[calc(100vh-207.85px)]">
    <div>
        <MudImage Src="/images/background.svg" Alt="" class="absolute top-0 left-[-194px] -z-10" />
        <MudImage Src="/images/background.svg" Alt="" class="absolute top-0 right-[-190px] -z-10 scale-x-[-1]"/>
    </div>
</section>