@inherits LayoutComponentBase

<MudThemeProvider Theme="PaylKoynTheme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<main class="relative overflow-hidden">
    <Header/>
    @Body
    <Footer/>
</main>


