@inherits LayoutComponentBase

<MudThemeProvider Theme="PaylKoynTheme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<main class="relative overflow-hidden" style="top:0px">
    <Header/>
    @Body
    <Footer/>
</main>


