@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" Theme="PaylKoynTheme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<main>
    @Body
</main>


