@inherits LayoutComponentBase

<MudThemeProvider Theme="PaylKoynTheme"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<main class="relative" style="top:0px">
    <Header/>
    @Body
</main>


