@config "../tailwind.config.js";
@import "tailwindcss";

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: '<angle>';
}

@theme {
    --animate-rotate-border: rotateBorder 3s linear infinite;

    @keyframes rotateBorder {
        to {
            --border-angle: 360deg;
          }
    }
}

main {
    overflow: hidden;
}

.button-color-gradient {
    background: conic-gradient(from var(--border-angle), #FF3BFF, #ECBFBF, transparent, transparent, transparent, transparent, #FF2BF1, #ECBFBF, transparent, transparent, transparent, transparent, #FF2BF1);
}

.button-profile-gradient {
    background: linear-gradient(to right, #FF3BFF, #ECBFBF, #FF2BF1, #ECBFBF);
}