@namespace PaylKoyn.Web.Components.Common.Footer

<footer class=" !py-[32.03px] bg-[#FAFAFA]">
        <div class="container flex flex-row justify-between mx-auto">
            <div class="flex flex-row gap-x-[49.75px] items-center">
                <MudImage Src="/images/saib.svg" Alt="" />
                <p class="text-[#343434]">© Softwarez, At Its Best, Inc. 2025. All Rights Reserved</p>
            </div>
            <div class="flex flex-row justify-between gap-x-6">
                <MudIconButton Icon="@IconService.FacebookIcon" Href="https://www.facebook.com/saibllc" Target="_blank"/>
                <MudIconButton Icon="@IconService.LinkedInIcon" Href="https://www.linkedin.com/company/saibllc/" Target="_blank"/>
                <MudIconButton Icon="@IconService.XIcon" Href="https://x.com/saibdev" Target="_blank"/>
                <MudIconButton Icon="@IconService.GithubIcon" Href="https://github.com/SAIB-Inc" Target="_blank"/>
            </div>
        </div>
</footer>