@namespace PaylKoyn.Web.Components.Common.Footer

<footer class="!py-[32.03px] bg-[var(--mud-palette-primary-lighten)] !px-2">
        <div class="container flex mx-auto flex-col gap-6 !justify-center md:!justify-between md:gap-0 md:flex-row">
            <div class="flex gap-6 items-center flex-col md:gap-x-[49.75px] md:flex-row">
                <MudImage Src="/images/saib.svg" Alt="saib logo" />
                <p class="text-[var(--mud-palette-text-primary)] text-center md:text-left">© Softwarez, At Its Best, Inc. 2025. All Rights Reserved</p>
            </div>
            <div class="flex flex-row !justify-center md:!justify-between md:gap-x-6">
                <MudIconButton Icon="@IconService.FacebookIcon" Href="https://www.facebook.com/saibllc" Target="_blank"/>
                <MudIconButton Icon="@IconService.LinkedInIcon" Href="https://www.linkedin.com/company/saibllc/" Target="_blank"/>
                <MudIconButton Icon="@IconService.XIcon" Href="https://x.com/saibdev" Target="_blank"/>
                <MudIconButton Icon="@IconService.GithubIcon" Href="https://github.com/SAIB-Inc" Target="_blank"/>
            </div>
        </div>
</footer>