@page "/"

<PageTitle>Home</PageTitle>

<section class="w-screen h-[calc(100vh-95.8px)] mx-auto">
    <div class="container mx-auto !pt-[80.07px] !pb-[220.09px]">
        <MudText Typo="Typo.h1" class="!text-center !text-white capitalize">The top-tier bottom-shelf <br />file-storing meme coin
        </MudText>
        <MudImage Src="/images/the_payls.webp" Alt="" class="!mt-[158px]" />
    </div>
    <div>
        <MudImage Src="/images/background.svg" Alt="" class="absolute top-0 left-[-194px] -z-10"/>
        <MudImage Src="/images/background.svg" Alt="" class="absolute absolute top-0 right-[-176px] -z-10 scale-x-[-1]"/>
    </div>
</section>
<section class="!bg-[#FAFAFA]">
    <div class="container flex flex-col mx-auto !pt-[101px] !pb-[180px]">
        <div class="flex flex-row justify-center gap-x-[93px]">
            <div class="!pt-[61px]">
                <MudText Typo="Typo.h2" class="!mb-8"><span class="text-[#0F051D] !font-bold">What is </span><span
                        class="text-[#5438DC]">PAYL KOYN</span><span class="text-[#0F051D] !font-bold">?</span>
                </MudText>
                <p class="text-[22px] leading-8 tracking-0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br />
                    sed diam nonumy eirmod tempor invidunt ut labore <br />
                    et dolore magna aliquyam erat, sed diam voluptua.
                </p>
                <br />
                <p class="text-[22px] leading-8 tracking-0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br />
                    sed diam nonumy eirmod tempor invidunt ut labore et <br />
                    dolore magna aliquyam erat, sed diam voluptua dolore <br />
                    magna aliquyam erat, sed diam voluptua.
                </p>
            </div>
            <div>
                <MudImage Src="/images/payl_koyn.svg" Alt="" />
            </div>
        </div>

        <div class="flex flex-row justify-center !mt-[163.2px]">
            <div class="relative">
                <MudImage Src="/images/3d_payl_koyn.webp" Alt="" class=""/>
            </div>
            <div>
                <div class="!pt-[14px]">
                    <MudText Typo="Typo.h2" class="!mb-8"><span class="text-[#5438DC]">$PAYL </span><span class="text-[#0F051D] !font-bold">Tokenomics</span>
                    </MudText>
                    <p class="text-[22px] leading-8 tracking-0">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br />
                        sed diam nonumy eirmod tempor invidunt ut labore <br />
                        et dolore magna aliquyam erat, sed diam voluptua.
                    </p>
                </div>
                <div class="w-fit">
                    <div class="flex flex-row gap-x-[13px] w-fit !mt-16 rounded-[14px] bg-[#EFF1FA] !p-4">
                        <div class="w-[61px] h-[68px] bg-[#5438DC] rounded-1"></div>
                        <div>
                            <p class="!text-2xl font-semibold leading-[26px] !mb-2">80%</p>
                            <p class="!text-xl leading-[28.5px] tracking-0">Air drop to community by using this platform</p>
                        </div>
                    </div>
                    <div class="flex flex-row gap-x-[13px] !mt-6 rounded-[14px] bg-[#EFF1FA] !p-4">
                        <div class="w-[61px] h-[68px] bg-[#8E82FF] rounded-1"></div>
                        <div>
                            <p class="!text-2xl font-semibold leading-[26px] !mb-2">20%</p>
                            <p class="!text-xl leading-[28.5px] tracking-0">Team and development</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row justify-center gap-x-[93px] !mt-[198.15px]">
            <div class="!pr-20">
                <MudText Typo="Typo.h2" class="!mb-8"><span class="text-[#0F051D] !font-bold">Powered by</span><span
                        class="text-[#5438DC]"> ADAFS</span>
                </MudText>
                <p class="text-[22px] leading-8 tracking-0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br />
                    sed diam nonumy eirmod tempor invidunt ut labore <br />
                    et dolore magna aliquyam erat, sed diam voluptua.
                </p>
                <br />
                <p class="text-[22px] leading-8 tracking-0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br />
                    sed diam nonumy eirmod tempor invidunt ut labore et <br />
                    dolore magna aliquyam erat, sed diam voluptua dolore <br />
                    magna aliquyam erat, sed diam voluptua.
                </p>
            </div>
            <div>
                <MudImage Src="/images/adafs.svg" Alt="" class="!pl-14"/>
            </div>
        </div>
    </div>
</section>
<section class="!pt-[104.07px] relative">
    <div class="container mx-auto">
        <MudText Typo="Typo.h1" class="text-white text-center">The PAYLS Explorer</MudText>
        <p class="text-white text-[22px] leading-4xl tracking-0 !mt-[13.64px] text-center">Hundreds of PAYLs to browse. Explore the depths of decentralized nonsense. </p>
        <MudImage Src="images/payl_gallery.webp" Alt="" class="!mt-20 !mb-[188.92px] mx-auto"/>
    </div>
    <div>
        <MudImage Src="/images/background.svg" Alt="" class="absolute" style="top:0px;left:-194px;z-index:0" />
        <MudImage Src="/images/background.svg" Alt="" class="absolute" style="top:0px;right:-176px;transform:scaleX(-1);z-index:0" />
    </div>
    <footer class="flex flex-row justify-between !py-[32.03px] bg-[#FAFAFA]">
        <div class="container mx-auto">
            <div class="flex flex-row gap-x-[49.75px] items-center">
                <MudImage Src="/images/saib.svg" Alt="" />
                <p class="text-[#343434]">© Softwarez, At Its Best, Inc. 2025. All Rights Reserved</p>
            </div>
            <div class="flex flex-row justify-between gap-x-6">
                <MudIconButton Icon=""/>
            </div>
        </div>
    </footer>
</section>
